body{
    /*background-color: #474973;*/
    background-image: url("forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: bottom;
    background-size: cover;
    margin: 0%;
    margin-top: 12.5%;
    display: block;
}

.container{
    background-color: #161b3367;
    width: 70%;
    height: 83.5vh;
    margin: 0 auto;
    margin-bottom: 15%;
    display: block;
    padding: 5%;
    border-radius: 7px;
} 

/* Presentacion */
.container-names{
    background-color: #8d08c250;
    width: 95%;
    height: 30vh;
    margin: 0 auto;
    display: block;
    border: 2px solid #a69cac;
    font-size: 190%;
    font-family: "Sofia";
}

    .container-names > div{
        /* background-color: black; */
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
    }

.container-icons{
    background-color: #8d08c250;
    width: 95%;
    height: 48vh;
    margin: 0 auto;
    margin-top: 10%;
    border: 2px solid #a69cac;
    text-align: center;
    font-family: "Cinzel";
}

/* Horario */
.container-schedule{
    background-color: #8d08c250;
    width: 60%;
    height: 81.5vh;
    margin: 0 auto;
    padding-top: 5%;
    border-left: 1px solid #dad6cd;
    border-right: 1px solid #dad6cd;
    text-align: center;
}


/* Direcciones */

.container-direction--church{
    /*background-color: #dad6cd;*/
    background-image: url("Parroquia.jpg");
    background-size: cover;
    background-position: 48%;
    width: 55%;
    height: 80%;
    align-items: center;
}

.container-direction--salon{
    background-image: url("Salon.jpeg");
    background-repeat: no-repeat;
    background-position: 45%;
    width: 50%;
    height: 80%;
    grid-row: 2;
}
  
  .button {
    margin: 6%;
    min-width: 80%;
    min-height: 10%;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(110%);
    min-height: calc(120%);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 3px;
      height: 3px;
      opacity: 1;
    }
    100% {
      width: 110%;
      height: 170%;
      opacity: 0.2;
    }
  }
  
.wrapper{
    top:50%;
    left:50%;
    width: fit-content;
    height:auto;
    margin-left: 11%;
}
button{
    width:200px;
    height:70px;
    background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}